<footer>

    <div class="container-footer-all">

        <div class="container-body">

            <div class="colum1">
                <br>
                <h1><img src="../../assets/logo.png" width="200px" height="200px"></h1>
                <br>
                <br>
                <b>Hospital Veterinario Mascotas Saludables</b>
            </div>


            <div class="colum2">

                <h1>CONTACTO</h1>

                <div class="row2">
                    <img src="../../assets/facebook.png">
                    <label><a href="#">Mascotas Saludables</a></label>
                </div>

                <div class="row2">
                    <img src="../../assets/twitter.png">
                    <label><a href="#">@MascotasSaludables</a></label>
                </div>

                <div class="row2">
                    <img src="../../assets/instagram.png">
                    <label><a href="#">@MascotasSaludables</a></label>
                </div>


                <div class="row2">
                    <img src="../../assets/correo.png">
                    <label><a href="#">HVMS@gmail.com</a></label>
                </div>


            </div>


            <div class="colum1">
                

            </div>


        </div>
        <br>
        <div class="container-footer">
            <div class="footer">

                <div class="copyright">
                    Derechos Reservados
                </div>
            </div>
        </div>
    </div>
</footer>