<!DOCTYPE html>
<html>
<head>
    <title>MASCOTAS SALUDABLES</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="nav">
        <label for="toggle">&#9776;</label>
        <input type="checkbox" id="toggle"/>
        <div class="menu">
          <img src="../../assets/logo.png" width="65" height="65" class="d-inline-block align-top" alt="">
            Mascotas Saludables
            <a (click)="Listar()">Cliente</a>
            <a (click)="ListarEmpleado()">Empleado</a>
            <a (click)="ListarJaula()">Jaula</a>
            <a (click)="ListarMascota()">Mascota</a>
            <a (click)="ListarUsuario()">Usuario</a>
            
        </div>
    </div>
</body>
</html>